<html>
<head>
    <title>Headlines</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/semantic/semantic.min.css" rel="stylesheet" media="screen"/>
    <script href="/static/semantic/semantic.min.js" type="text/javascript"></script>
</head>
<body>

<div class="ui top menu">
   <a class ="item" href ="{{url_for('index')}}">Headlines</a>
    <a class="item" href ="{{url_for('index')}}">Home </a>
   </div>
<br>
{% block content %}

{% block page_content %}{% endblock %}

{% endblock %}
</body>
</html>