{% extends 'base.html' %}
{% block page_content %}
{% if title %}
<title>{{ title }} - Headlines</title>
{% else %}
<title>Headlines</title>
{% endif %}
    <form action="{{ url_for('get_news') }}" method="post">
           {{ form.csrf_token }}
    <div class="ui action input">
    <input type="text" name="publication"  placeholder="bbc/cnn/iol">
    <button class="ui button" name ="get_news" type="submit" value="Submit" >Search</button>
     </div>
  </form>
    <div class='ui container'>
                {% for key,values in headlines.items() %}
                 <h1 class="ui header"><a class="ui red ribbon label"> {{ key.upper()}} reports:</a></h1>
                 <div class="ui items">
                  {% for value in values %}
                        
                        <div class="item">
                        {% if 'media_thumbnail' in value %}
                        <img src="{{ value['media_thumbnail'][0].get('url',None) }}"  width="80" height="60" >
                        {% endif %}
                        <div class="content">
                        <a class="header" href="{{value.link}}" > {{ value.title  }}</a>
                        <div class="meta">
                        <span>{{value.published_ago}}</span>
                        </div>
                        <div class="description">
                        <p>{{value.summary}}</p>
                        </div>
                       <div class="extra">
                        <a  href =  " {{value.link}}">{{value.link}}  </a>
                     </div>
                    </div>
                    </div>
                        
                    {% endfor %}
                </div>
                {% endfor %}
     </div>

{% endblock %}